body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vw;
}

#header { 
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-color: blue;
}

#sidebar {
    height: 90vw;
    width: 15vw;
    border: 1px black solid;
}

#content {
    height: 95vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
}

.project {
    font-size: 15px;
    width: 90vw;
    height: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.project-name {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px black solid;
    width: 100%;
}

.to-do-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    justify-content: space-between;
    margin: 10px;
    width: 400px;
    height: fit-content;
    gap: 10px;
    border: 1px solid black;
}

.to-do-button-container {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    width: 100%;
}

.rest-of-to-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    gap: 10px;
    border-top: 1px solid black;
}

.to-do-title {
    font-weight: bold;
}